<?xml version="1.0"?>
<ruleset name="Moodle">
    <description>Moodle coding standards</description>
    <rule ref="Moodle"/>
    <file>.</file>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
</ruleset>
