{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_deepler/nodeepl_page
    provides a basic alert when connection to the api failed
      Classes required for JS:
  * local_deepler__localeswitcher
  * local_deepler__select-all
  * local_deepler__show-updated
  * local_deepler__show-needsupdate
  * local_deepler__autotranslate-btn

  Data attributes required for JS:
  * none

  Context variables required for this template:
  * none

  Example context (json):
  {
    "nodeeplpapi": "Message to tell the user that cnx failed."
  }
}}
{{#errors}}
    <div class="alert alert-danger">{{.}}</div>
{{/errors}}



<h3>{{mappingsheading}}</h3>

<table class="generaltable">
    <thead>
    <tr>
        <th>{{attribute}}</th>
        <th>{{valuefilter}}</th>
        <th>{{token}}</th>
        <th>{{actions}}</th>
    </tr>
    </thead>
    <tbody>
    {{#records}}
        <tr>
            <td>{{attribute}}</td>
            <td>{{valuefilter}}</td>
            <td>{{token}}</td>
            <td>{{{action}}}</td>
        </tr>
    {{/records}}
    </tbody>
</table>

<h4>{{addnewheading}}</h4>
<div class="adminpage-description mb-2">{{{description}}}</div>
<form method="post" action="{{formaction}}" class="mform PT-2">
    <input type="hidden" name="sesskey" value="{{sesskey}}">

    <div class="form-inline">
        {{{select}}}

        <input type="text" name="valuefilter" class="form-control mr-2" id="deepler-valuefilter"
               placeholder="{{valuefilterplaceholder}}">

        <input type="text" name="token" class="form-control mr-2" id="deepler-token"
               placeholder="{{tokenplaceholder}}" size="40">

        <input type="submit" name="addtoken" value="{{addbutton}}" class="btn btn-primary">
    </div>
</form>

<div class="pt-2" id="deepler-form-errors"></div>

<div class="mb-3 pt-4">
    <a href="{{settingsurl}}" target="_self">{{backtosettings}}</a>
</div>
