{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template 'local_deepler/translate_section'; // Full name of the plugin (used for diagnostics)./translate_section

    Renders a section container with its header, fields, and modules as in deeplerform::makesection.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id
    * visibilityclass
    * title
    * link
    * sectionid
    * fields (HTML)
    * modules (HTML)

    Example context (json):
    {
        "visibilityclass":"Local deepler",
        "sectionid":0,
        "hasheader": true,
        "fields":"<div>some fields</div>",
        "modules":"<div>some fields</div>",

        "id" : "myid",
        "level" : "3",
        "hasicon" : true,
        "activitydesc" : "Blah blah",
        "pluginname":"myPlugin",
        "icon":"path/to/icon.png",
        "itempurpose":"purpose",
        "link": "https://test.org"
    }
}}
<div id='local_deepler__section{{sectionid}}' class='section-item {{visibilityclass}}'>
    <small class="badge rounded-pill bg-secondary text-dark" data-action="local_deepler__hiddenfromstudents">
        <i class="fa fa-eye-slash" aria-hidden="true"></i>&nbsp;<small>{{#str}}hiddenfromstudents{{/str}}</small>
    </small>
    {{#hasheader}}
        {{> local_deepler/translate_header }}
    {{/hasheader}}
    <div id='sectiondata[{{sectionid}}]' class='local_deepler__sectiondata'>
        {{{fields}}}
    </div>
    {{{modules}}}
</div>
