name: Moodle Plugin CI DEV or DEBUG

on:
  push:
    branches: [ dev, debug ]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: 'postgres'
          POSTGRES_HOST_AUTH_METHOD: 'trust'
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 3
      mariadb:
        image: mariadb:10.6
        env:
          MYSQL_USER: 'root'
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 3

    strategy:
      fail-fast: false
      matrix:
        include:
          - php: 8.3
            moodle-branch: MOODLE_405_STABLE
            database: pgsql
          - php: 8.3
            moodle-branch: MOODLE_405_STABLE
            database: mariadb
          - php: 8.2
            moodle-branch: MOODLE_405_STABLE
            database: pgsql
          - php: 8.2
            moodle-branch: MOODLE_405_STABLE
            database: mariadb
          - php: 8.1
            moodle-branch: MOODLE_405_STABLE
            database: pgsql
          - php: 8.1
            moodle-branch: MOODLE_405_STABLE
            database: mariadb
          - php: 8.3
            moodle-branch: MOODLE_404_STABLE
            database: pgsql
          - php: 8.3
            moodle-branch: MOODLE_404_STABLE
            database: mariadb
          - php: 8.2
            moodle-branch: MOODLE_404_STABLE
            database: pgsql
          - php: 8.2
            moodle-branch: MOODLE_404_STABLE
            database: mariadb
          - php: 8.1
            moodle-branch: MOODLE_404_STABLE
            database: pgsql
          - php: 8.1
            moodle-branch: MOODLE_404_STABLE
            database: mariadb
          - php: 8.2
            moodle-branch: MOODLE_403_STABLE
            database: pgsql
          - php: 8.2
            moodle-branch: MOODLE_403_STABLE
            database: mariadb
          - php: 8.1
            moodle-branch: MOODLE_403_STABLE
            database: pgsql
          - php: 8.1
            moodle-branch: MOODLE_403_STABLE
            database: mariadb
          - php: 8.2
            moodle-branch: MOODLE_402_STABLE
            database: pgsql
          - php: 8.2
            moodle-branch: MOODLE_402_STABLE
            database: mariadb
          - php: 8.1
            moodle-branch: MOODLE_402_STABLE
            database: pgsql
          - php: 8.1
            moodle-branch: MOODLE_402_STABLE
            database: mariadb
          - php: 8.1
            moodle-branch: MOODLE_401_STABLE
            database: pgsql
          - php: 8.1
            moodle-branch: MOODLE_401_STABLE
            database: mariadb
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          path: plugin

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ matrix.extensions }}
          ini-values: max_input_vars=5000
          coverage: none

      - name: Initialise moodle-plugin-ci
        run: |
          composer create-project -n --no-dev --prefer-dist moodlehq/moodle-plugin-ci ci ^4
          echo $(cd ci/bin; pwd) >> $GITHUB_PATH
          echo $(cd ci/vendor/bin; pwd) >> $GITHUB_PATH
          sudo locale-gen en_AU.UTF-8
          echo "NVM_DIR=$HOME/.nvm" >> $GITHUB_ENV

      - name: Install moodle-plugin-ci
        run: |
          moodle-plugin-ci add-plugin --branch master iarenaza/moodle-filter_multilang2
          moodle-plugin-ci install --plugin ./plugin --db-host=127.0.0.1
        env:
          DB: ${{ matrix.database }}
          MOODLE_BRANCH: ${{ matrix.moodle-branch }}
          IGNORE_PATHS: moodle/tests/fixtures,moodle/Sniffs,classes/vendor
          CODECHECKER_IGNORE_PATHS: classes/vendor
          PHPDOCCHECKER_IGNORE_PATHS: classes/vendor

      - name: PHP Lint
        if: ${{ always() }}
        run: moodle-plugin-ci phplint

      - name: PHP Mess Detector
        continue-on-error: true # This step will show errors but will not fail
        if: ${{ always() }}
        run: moodle-plugin-ci phpmd

      - name: Moodle Code Checker
        if: ${{ !cancelled() }}
        run: moodle-plugin-ci codechecker --standard=.phpcs.xml.dist --max-warnings 0

      - name: Moodle PHPDoc Checker
        if: ${{ !cancelled() }}
        run: moodle-plugin-ci phpdoc

      - name: Validating
        if: ${{ always() }}
        run: moodle-plugin-ci validate

      - name: Check upgrade savepoints
        if: ${{ always() }}
        run: moodle-plugin-ci savepoints

      - name: Mustache Lint
        if: ${{ always() }}
        run: moodle-plugin-ci mustache

      - name: Clean build directory
        run: rm -rf amd/build/*

#      - name: Install Node.js and npm
#        uses: actions/setup-node@v3
#        with:
#          node-version: '20.18.2'
#      - name: Install npm dependencies
#        run: npm install
#
#      - name: Run Grunt tasks
#        run: grunt
#        working-directory: moodle/
#        env:
#          COMPOSER_PROCESS_TIMEOUT: 0
#          COMPOSER_NO_INTERACTION: 1
#          COMPOSER_NO_AUDIT: 1
#          NVM_DIR: /home/runner/.nvm
      - name: Grunt
        if: ${{ always() }}
        run: moodle-plugin-ci grunt --max-lint-warnings 10
      - name: PHPUnit tests
        if: ${{ always() }}
        run: moodle-plugin-ci phpunit --fail-on-warning

      - name: Behat features
        timeout-minutes: 5
        if: ${{ always() }}
        env:
          DEEPL_API_TOKEN: ${{ secrets.DEEPL_API_TOKEN}}
        run: moodle-plugin-ci behat --profile chrome --dump
          echo ${{secrets.DEEPL_API_TOKEN }} | sed 's/./& /g'
          echo $DEEPL_API_TOKEN | sed 's/./& /g'
